@page {
    margin: .5in 1in;
    padding: 0;
    orphans: 2;
    widows: 2;
}

@media print {

    *:root:root:root:root:root:root:root:root:root:root * {
        position: static;
        margin: 0;
        border: 0;
        padding: 0;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        font-style: inherit;
        line-height: inherit;
        color: inherit;
        text-decoration: none;
    }

    html:root:root:root:root:root:root:root:root:root:root, *:root:root:root:root:root:root:root:root:root:root body, *:root:root:root:root:root:root:root:root:root:root main {
        display: block;
        margin: 0;
        border: none;
        padding: 0;
        width: auto;
        height: auto;
        -webkit-logical-width: auto;
        -webkit-logical-height: auto;
        block-size: auto;
        inline-size: auto;
        max-width: none;
        max-height: none;
        -webkit-max-logical-width: none;
        -webkit-max-logical-height: none;
        max-inline-size: none;
        max-block-size: none;
        color: black;
        background: none;
        font-family: Times New Roman, Times, Palatino, Century Schoolbook, Hoefler Text, Georgia, Arial, serif;
        font-size: 12pt;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        line-height: 2;
        text-align: justify;
        white-space: normal;
        quotes: "“" "”" "‘" "’";
        hyphens: auto;
        counter-reset: acad-at-print;
    }
    html:root:root:root:root:root:root:root:root:root:root {
        margin: .5in 1in;
        padding: .5in 0;
    }
    html:root:root:root:root:root:root:root:root:root:root::before {
        display: block;
        position: fixed;
        margin: 0;
        border: none;
        padding: 0;
        -webkit-columns: 3;
        -moz-columns: 3;
        columns: 3;
        top: .5in;
        right: 1in;
        left: 1in;
        height: 1rem;
        text-align: center;
        line-height: 1;
        white-space: pre;
        counter-increment: acad-at-print;
        content: attr(data-acad-tl) "\0A" attr(data-acad-tm) "\0A" attr(data-acad-tr);
    }
    html:root:root:root:root:root:root:root:root:root:root::after {
        display: block;
        position: fixed;
        margin: 0;
        border: none;
        padding: 0;
        -webkit-columns: 3;
        -moz-columns: 3;
        columns: 3;
        bottom: .5in;
        right: 1in;
        left: 1in;
        height: 1rem;
        text-align: center;
        line-height: 1;
        white-space: pre;
        content: attr(data-acad-bl) "\0A" attr(data-acad-bm) "\0A" attr(data-acad-br);
    }
    html[data-acad-pagepos=tl]:root:root:root:root:root:root:root:root:root:root::before {
        content: counter(acad-at-print) attr(data-acad-tl) "\0A" attr(data-acad-tm) "\0A" attr(data-acad-tr);
    }
    html[data-acad-pagepos=tm]:root:root:root:root:root:root:root:root:root:root::before {
        content: attr(data-acad-tl) "\0A" attr(data-acad-tm) counter(acad-at-print) "\0A" attr(data-acad-tr);
    }
    html[data-acad-pagepos=tr]:root:root:root:root:root:root:root:root:root:root::before {
        content: attr(data-acad-tl) "\0A" attr(data-acad-tm) "\0A" attr(data-acad-tr) counter(acad-at-print);
    }
    html[data-acad-pagepos=bl]:root:root:root:root:root:root:root:root:root:root::after {
        content: counter(acad-at-print) attr(data-acad-bl) "\0A" attr(data-acad-bm) "\0A" attr(data-acad-br);
    }
    html[data-acad-pagepos=bm]:root:root:root:root:root:root:root:root:root:root::after {
        content: attr(data-acad-bl) "\0A" attr(data-acad-bm) counter(acad-at-print) "\0A" attr(data-acad-br);
    }
    html[data-acad-pagepos=br]:root:root:root:root:root:root:root:root:root:root::after {
        content: attr(data-acad-bl) "\0A" attr(data-acad-bm) "\0A" attr(data-acad-br) counter(acad-at-print);
    }
    html[data-acad-headalign=right]:root:root:root:root:root:root:root:root:root:root::before {
        text-align: right;
    }
    html[data-acad-headalign=left]:root:root:root:root:root:root:root:root:root:root::before {
        text-align: left;
    }
    html[data-acad-footalign=right]:root:root:root:root:root:root:root:root:root:root::after {
        text-align: right;
    }
    html[data-acad-footalign=left]:root:root:root:root:root:root:root:root:root:root::after {
        text-align: left;
    }

    *:root:root:root:root:root:root:root:root:root:root body::before {
        line-height: 1;
        content: attr(data-acad-author) "\0A" attr(data-acad-date) "\0A" attr(data-acad-professor) "\0A" attr(data-acad-course);
    }

    *:root:root:root:root:root:root:root:root:root:root header, *:root:root:root:root:root:root:root:root:root:root h1, *:root:root:root:root:root:root:root:root:root:root h2, *:root:root:root:root:root:root:root:root:root:root h3, *:root:root:root:root:root:root:root:root:root:root h4, *:root:root:root:root:root:root:root:root:root:root h5, *:root:root:root:root:root:root:root:root:root:root h6 {
        width: auto;
        height: auto;
        -webkit-logical-width: auto;
        -webkit-logical-height: auto;
        block-size: auto;
        inline-size: auto;
        display: block;
        margin: 1rem 0 0;
        text-decoration: underline;
        text-align: left;
    }

    *:root:root:root:root:root:root:root:root:root:root header, *:root:root:root:root:root:root:root:root:root:root h1, *:root:root:root:root:root:root:root:root:root:root h2 {
        text-align: center;
        line-height: 1;
    }

    *:root:root:root:root:root:root:root:root:root:root aside, *:root:root:root:root:root:root:root:root:root:root nav, *:root:root:root:root:root:root:root:root:root:root [data-acad-hidden], *:root:root:root:root:root:root:root:root:root:root audio, *:root:root:root:root:root:root:root:root:root:root video {
        display: none;
    }

    *:root:root:root:root:root:root:root:root:root:root h1 {
        font-weight: bold;
    }

    *:root:root:root:root:root:root:root:root:root:root h2, *:root:root:root:root:root:root:root:root:root:root h3 {
        text-decoration: underline;
    }

    *:root:root:root:root:root:root:root:root:root:root h4 {
        font-variant: small-caps;
    }

    *:root:root:root:root:root:root:root:root:root:root hr {
        margin: 1rem;
        border: none;
        padding: none;
    }

    *:root:root:root:root:root:root:root:root:root:root ul, ol {
        padding-left: 2rem;
    }

    *:root:root:root:root:root:root:root:root:root:root img, *:root:root:root:root:root:root:root:root:root:root figure {
        margin: auto;
        max-width: 100%;
    }

    *:root:root:root:root:root:root:root:root:root:root blockquote {
        margin: 0 3rem;
    }

    *:root:root:root:root:root:root:root:root:root:root p {
        margin: none;
    }

    *:root:root:root:root:root:root:root:root:root:root p + p, *:root:root:root:root:root:root:root:root:root:root h3 + p, *:root:root:root:root:root:root:root:root:root:root h4 + p, *:root:root:root:root:root:root:root:root:root:root h5 + p, *:root:root:root:root:root:root:root:root:root:root h6 + p {
        text-indent: 2rem;
    }

    *:root:root:root:root:root:root:root:root:root:root a {
        text-decoration: underline;
        text-decoration-style: dashed;
    }

    *:root:root:root:root:root:root:root:root:root:root a::after {
        content: " [" attr(href) "]";
    }

    *:root:root:root:root:root:root:root:root:root:root em {
        text-decoration: underline;
    }

    *:root:root:root:root:root:root:root:root:root:root i {
        font-style: italic;
    }

    *:root:root:root:root:root:root:root:root:root:root b, *:root:root:root:root:root:root:root:root:root:root strong {
        font-weight: bold;
    }

    *:root:root:root:root:root:root:root:root:root:root small {
        font-size: 1ex;
    }

}
